// Primary Color
$primary-100:#0E3653;
$primary-200: #4480AB;
$primary-300: #23899F;
/// seondry colors
$secondry-100: #94A2B3;
$secondry-200:#848484;
$secondry-300:#E8E8E8;
/// third colors
$third-100 :#FFE03E;
// // Black & White
$black: #1c1a1a;
$white: #ffffff;
//Shadows
;
//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;
//Font-Family
$primary-light: 'poping-Light';
$primary-regular: "poping-Regular";
$primary-italic: 'poping-italic';
$primary-medium: 'poping-Medium';
$primary-SemiBold: 'poping-SemiBold';
$primary-bold: "poping-Bold";

///// width element